{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Página de Inicio</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci rem, suscipit a alias harum, ipsa, commodi nihil iusto blanditiis officia cum et dolor delectus. Architecto officia mollitia necessitatibus animi fugit!
    Soluta ipsam ea nobis. Odio sapiente autem eligendi exercitationem, error omnis modi obcaecati tempore reiciendis repudiandae excepturi aperiam reprehenderit cupiditate soluta suscipit, rem earum recusandae nostrum dolore eveniet saepe repellat.
    sssssssss.</p>
{% endblock %}