{% extends 'base.html' %}

{% block title %}Primera vista app 1{% endblock %}

{% block content %}
    <h1>Vista 1 (app 1)</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo voluptatem vitae asperiores molestias laboriosam quas dignissimos qui, esse praesentium repellat ad officiis autem blanditiis tenetur! Aliquam sunt rerum laudantium distinctio.
    Similique deserunt sequi, ipsa tempora dolore adipisci cum maiores consequatur impedit eum, quibusdam dicta. Ratione, tempore facere? Natus at enim ad itaque, modi ullam nisi nemo, similique quos, nulla aliquam?
    Consequatur, sequi provident! Libero atque, nemo ex nobis aut officiis dolorem obcaecati minus quasi, vitae, cupiditate asperiores culpa eius magni fuga pariatur sint possimus corrupti deserunt eligendi! Voluptas, culpa dolorem.
    Accusantium nihil nostrum vero nesciunt? Exercitationem ipsum doloremque eveniet consequatur quas temporibus excepturi aut nulla quaerat, at aspernatur soluta magnam odit explicabo quae voluptas natus praesentium voluptates, libero impedit non.
    Harum excepturi ex in sed error neque tenetur dolore laboriosam amet minima at soluta culpa commodi, quidem ullam minus quasi optio ipsam delectus cupiditate quo? Accusantium dolores ipsa perspiciatis animi?
    Aut numquam voluptatibus maiores praesentium earum. Rem quos quae placeat suscipit ad magnam omnis obcaecati nisi, velit, debitis optio expedita nulla neque inventore qui modi minima ab, quaerat saepe itaque!
    Ad odio iste quam molestias veritatis, fugit delectus sit nobis natus! Quaerat aspernatur praesentium consectetur aut, itaque, debitis pariatur voluptates quidem molestias eveniet distinctio eligendi autem recusandae consequatur ipsam eius.
    Alias neque obcaecati praesentium aspernatur laboriosam ullam quisquam libero, reprehenderit eos! Quisquam, neque! Consequatur beatae aliquid sunt debitis? Quia magnam natus cum quasi nulla nisi. Exercitationem possimus error corrupti enim!
    Modi impedit obcaecati officiis cupiditate vero quod incidunt. Quas maiores, reiciendis quia tempora vel, aliquid ipsa molestias ut consequuntur velit mollitia error voluptatibus illum necessitatibus! Voluptates ducimus eligendi id quidem.
    Nisi, dolorum saepe. Consequuntur quos similique laboriosam suscipit quibusdam aliquid sunt placeat quasi natus! Aliquid inventore molestias, ullam, optio laborum amet cumque aliquam iusto tempore, adipisci quam consequatur tempora illo.



    67.</p>
{% endblock %}