<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Prueba Sumativa{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <!-- Menú de navegación -->
    <nav>
        <ul>
            <li><a href="{% url 'app1:vista1_app1' %}">Vista 1 App1</a></li>
            <li><a href="{% url 'app1:vista2_app1' %}">Vista 2 App1</a></li>
        </ul>
    </nav>
    <img src="{% static 'imgs/fish.gif' %}" alt="pez girando">

    <!-- Contenido específico de cada página -->
    {% block content %}
    {% endblock %}

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2026 Ismael Figueroa</p>
    </footer>
</body>
</html>